<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h1 class="bg-success text-center" style="padding: 15px;">Notifications container</h1>

      <button type="button" class="btn btn-primary" data-ng-click="addM()">Add permanent notification</button>
      <button type="button" class="btn btn-primary" data-ng-click="removeM()">Remove permanent notification</button>
      <button type="button" class="btn btn-primary" data-ng-click="addA1()">Add autoclose 1.5 seconds</button>
      <button type="button" class="btn btn-primary" data-ng-click="addA3()">Add autoclose 3 seconds</button>
      <button type="button" class="btn btn-primary" data-ng-click="addP()">Add with promise 3 seconds</button>
      
      <div class="list-unstyled" id="wrap-notifications"></div>
    </div>
    <div class="col-xs-6">

      <h1 class="bg-success text-center" style="padding: 15px;">A second container</h1>

      <button type="button" class="btn btn-primary" data-ng-click="addSecondM()">Add permanent notification</button>
      <button type="button" class="btn btn-primary" data-ng-click="removeSecondM()">Remove permanent notification</button>
      <button type="button" class="btn btn-primary" data-ng-click="addSecondA1()">Add autoclose 1.5 seconds</button>
      <button type="button" class="btn btn-primary" data-ng-click="addSecondA3()">Add autoclose 3 seconds</button>
      <button type="button" class="btn btn-primary" data-ng-click="addSecondP()">Add with promise 3 seconds</button>
      
      <div class="list-unstyled" id="wrap-notifications-second"></div>
    </div>
  </div>
</div>